body {
    font-family: Arial, sans-serif;
    background-image: url('robot.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

#h1__white {
    color: #fff;
}

.button-container {
    margin-top: 20px;
}

.btn {
    background-color: #381973;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.image-container {
    margin-top: 30px;
}